USE [master]
GO
/****** Object:  Database [HoDan]    Script Date: 12/19/2017 11:25:35 AM ******/
CREATE DATABASE [HoDan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HoDan', FILENAME = N'D:\Tools\SQL Server 2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\HoDan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HoDan_log', FILENAME = N'D:\Tools\SQL Server 2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\HoDan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoDan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoDan]
GO
USE [HoDan]
GO
/****** Object:  Table [dbo].[Gift]    Script Date: 12/19/2017 11:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gift](
	[QuaId] [bigint] IDENTITY(1,1) NOT NULL,
	[Qua] [varchar](50) NOT NULL,
	[Dien] [int] NULL,
	[SLuong] [int] NULL,
	[Event] [varchar](50) NULL,
 CONSTRAINT [PK__Gift__73F84ADAF9D9518F] PRIMARY KEY CLUSTERED 
(
	[QuaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 12/19/2017 11:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[HouseId] [varchar](10) NOT NULL,
	[MemberNumber] [int] NULL,
	[Address] [varchar](50) NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 12/19/2017 11:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[IdentityCode] [bigint] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[BirthYear] [int] NULL,
	[Career] [varchar](20) NULL,
	[HouseId] [varchar](10) NOT NULL,
	[dienDacBiet] [int] NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[IdentityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_House] FOREIGN KEY([HouseId])
REFERENCES [dbo].[House] ([HouseId])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_House]
GO
USE [master]
GO
